.bg-img{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}
.hero .hero-text table{
    background-color: aliceblue;
    opacity: 98%;
    border-radius: 12px;
    align-items: center;
    width: 250px;
    padding-bottom: 20px;
}
.h2class{
    padding-right: 50px;
    color: black;
    font-size: 30px;
}
.addmember{
    display: block;
}
.form1 input{
    height:30px;
    width:100px;
    border-radius: 12px;
}
.table1{
    padding-left: 78px;
}
.button-align{
    align-items: center;
    padding-left: 100px;
}

