li{
    list-style: none;
}

.destination{
    margin: 4rem 6rem;
}
.destination h1{
    font-size: 3rem;
}
.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.des-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}
.des-text h2{
    padding-bottom: 0.1rem;
    margin-top: -20px;/*note*/
}
.images1{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}
.images1 img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0,0,0,0.19);
}
.images1 img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}
.tbl1{
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    border-color: black;
    border-width: 1px;
    font-size: 20px;
    border-spacing: 10px;
}
@media screen and (max-width: 850px) {
    .destination{
        margin: 4rem 2rem;
    }
    .first-des{
        display: flex;
        margin-top: 2.5rem;
    }
    .des-text{
        width: 100%;
    }
    .images1{
        width: 100%;
        margin: 1.8rem 0;
    }
    .images1 img{
        height: 250px;
    }
}
